*.tlog
*.exe
*.ilk
*.pdb
*.obj
*.log
*.idb
*.lib
*.res
*.opensdf
*.sdf
*.suo
.vs

# CLion
.idea/
cmake-build-*/

# Visual Studio 2022
.vs/
build/
lib/
out/
CMakeSettings.json
/CMakeUserPresets.json

# My shelves
.shelve/
